body
{
    min-height : 100%;
    background-image: url('bloque.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    margin: 0%; 
}

header
{
    margin-top: 4%;
    font-size: 35pt;
    font-family: Calibri;
    color: white;
    text-align: center;
    text-indent: 0%;    
}

#listaDias
{
    font-size: 15pt;
    text-align: center;
    color: white;
}

footer
{
    color: black;
    position: absolute;
    bottom: 0%;
}